# knn 

- non parametric
- classification
- regression 


## when 

## you have to think about it before

### preprocess for knn

- scaling
    - normalization is the most proper 

<< one of hyper parameter is distance 

### curse of dimensionality 

<=> high dimension >>> pick up data from thin distribution >>> distance get smaller

- in real world data, usually the # of features is less than the sample size. << wanna check shape of data set.

## pro

- accurate 

## con 

- computational time O(ND)
- non-parametric >>> carry the traing data around to perform.


## how it is used 

combination of neural network and KNN

## hyper parameter of knn

### distance 

- cosine
- haming
- minkowski
  - euclidean
  - manhattan
- chevyshev
- jaccard
- haversine
- ??? slide 

### k 

the number of nearest neighbors

- influence the smoothness
  - large k >> simple  >>> risk of underfittiing
  - small k >>> complex / flexible >>> risk of overfitting
 
### how to tune

**best practice**

- best practice -- cross validation and grid search
- train test split

In [4]:
#!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /opt/anaconda3/lib/python3.12/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2024.12.14)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
iris = fetch_ucirepo(id=53) 
  
# data (as pandas dataframes) 
X = iris.data.features 
y = iris.data.targets

In [14]:
X.head(5)

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
y.head(5)

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [20]:
X.shape

(150, 4)

In [28]:
X.dtypes

# numerical >>> you have to do data analysis for numerical data

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
dtype: object

In [26]:
y.dtypes

class    object
dtype: object